### Data Exploration and Analysis Notebook

In [ ]:
# Import libraries

import pandas as pd 
import numpy as np 
import seaborn as sns  
import matplotlib.pyplot as plt

In [22]:
# Import dataset and print out first several rows

df = pd.read_csv("..\\data\\unclean\\car_dataset.csv", delimiter = ";")
df.head(7)

  buying maintenance doors persons luggage_boot safety class_values
0  vhigh       vhigh     2       2        small    low        unacc
1  vhigh       vhigh     2       2        small    med        unacc
2  vhigh       vhigh     2       2        small   high        unacc
3  vhigh       vhigh     2       2          med    low        unacc
4  vhigh       vhigh     2       2          med    med        unacc
5  vhigh       vhigh     2       2          med   high        unacc
6  vhigh       vhigh     2       2          big    low        unacc

In [ ]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Check unique values in categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nUnique Values in Categorical Columns:")
for col in categorical_cols:
    print(f"\n{col}:")
    print(df[col].value_counts(normalize=True))

 Missing Values:
buying          0
maintenance     0
doors           0
persons         0
luggage_boot    0
safety          0
class_values    0
dtype: int64

Unique Values in Categorical Columns:

 buying:
buying
vhigh    0.25
high     0.25
med      0.25
low      0.25
Name: proportion, dtype: float64

 maintenance:
maintenance
vhigh    0.25
high     0.25
med      0.25
low      0.25
Name: proportion, dtype: float64

 doors:
doors
2        0.25
3        0.25
4        0.25
5more    0.25
Name: proportion, dtype: float64

 persons:
persons
2       0.333333
4       0.333333
more    0.333333
Name: proportion, dtype: float64

 luggage_boot:
luggage_boot
small    0.333333
med      0.333333
big      0.333333
Name: proportion, dtype: float64

 safety:
safety
low     0.333333
med     0.333333
high    0.333333
Name: proportion, dtype: float64

 class_values:
class_values
unacc    0.700231
acc      0.222222
good     0.039931
vgood    0.037616
Name: proportion, dtype: float64